body{                                           background-color: var(--mc0);}
a, a:hover, a:active, a:visited, .nav{
                                                color: var(--c2);
                                                text-decoration: underline;
} 
nav{
                                                text-align: center;
                                                color: var(--c0);
                                                background-color: var(--mc1);
}
.nav-link, .nav-link:hover, .nav-link:visited,
 .nav-link:active, .navbar-nav .nav-link.show{
                                                color: var(--c2);
                                                font-size: 26px;
                                                font-weight: 600;
                                                text-decoration-color: var(--c1);
                                                text-decoration: underline;
} 
.navbar{
                                                background-color: var(--mc1);
                                                color: var(--c0);;
}
.navbar-brand{                                  transform: rotate(180deg);}
.dropdown-menu{
                                                color: var(--c0);;
                                                background-color: var(--mc0);;
                                                font-size: 32px;
}
.dropdown-menu{
                                                background-color: rgb(220, 220, 220);
                                                max-height: 250px;
                                                overflow-y: scroll;
}


.btn-outline-success {
                                                --bs-btn-color: var(--c2);
                                                --bs-btn-border-color: var(--c2);
                                                --bs-btn-hover-color: #fff;
                                                --bs-btn-hover-bg: var(--c2);
                                                --bs-btn-hover-border-color: var(--c2);
                                                --bs-btn-focus-shadow-rgb: 25,135,84;
                                                --bs-btn-active-color: #fff;
                                                --bs-btn-active-bg: var(--c2);
                                                --bs-btn-active-border-color: var(--c2);
                                                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                                                --bs-btn-disabled-color: var(--c2);
                                                --bs-btn-disabled-bg: transparent;
                                                --bs-btn-disabled-border-color: var(--c2);
                                                --bs-gradient: none;
}
.LRQ{                                           padding-top: 10px;}
.main{
                                                background-image: url(../IMG/Background-top.jpg);
                                                background-repeat: no-repeat;
                                                background-size: 100% 800px;
                                                color: var(--c1);
                                                padding: 35px;
}
.main h1{                                       font-weight: 600;}
.spacer{                                        padding: 800px;}
.footer{                                        text-align: right;}

.owner{                                     
                                                color: var(--c9);
                                                font-size: 30px;
                                                font-weight: 600;

}




:root{
        --mc0:      white;
        --mc1:      black;
        --c0:       white;
        --c1:       rgb(80, 118, 195);
        --c2:       rgb(255, 166, 0);
        
        --c9:       red;
}